<div class="flex justify-end space-x-2 px-6">
  <button
    mat-mini-fab
    (click)="setView(viewEnum.Card)"
    [color]="view() === viewEnum.Card ? 'primary' : ''"
  >
    <mat-icon>view_module</mat-icon>
  </button>
  <button
    mat-mini-fab
    (click)="setView(viewEnum.Grid)"
    [color]="view() === viewEnum.Grid ? 'primary' : ''"
  >
    <mat-icon>view_list</mat-icon>
  </button>
</div>

@if (view() === viewEnum.Card) {
  @defer {
    <app-card [superheroes]="superheroes()"></app-card>
  }
} @else {
  @defer {
    <app-grid [superheroes]="superheroes()"></app-grid>
  }
}
